body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

form{
    color: white;
    background-color: black;
    text-align: center;
    max-width: 400px;
    max-height: 450px;
    margin: auto;
    padding: 20px;
    position: relative;
}

form::after, form::before{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
}

form::before{
    filter: blur(20px);
    opacity: 1;
}

#toCelsius, #toFahrenheit{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    
}

button{
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: black;
}

button:active{
    transform: scale(0.5);
}

#textBox{
    margin-top: 10px;
    padding: 4px;
    font-size: 20px;
    border-radius: 5px;
    color:white;
    background-color: black;
    border: 2px solid white;
    text-align: center;
}
